body {
    margin: 0;
    color: #000000;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: aliceblue;
}
.title{
    padding: 10px;
    border: 2px solid rgb(117, 112, 134);
    text-align: center;
    background-color: rgba(121, 87, 243, 0.788);
}
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    height: 600px;
}
.row1{
    width: 25%;
    height: 100%;
    float: left;
    margin: 10px;
}
.row2-notes{
    width: 71%;
    height: 100%;
    margin: 10px;
    float: left;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=color]{
    width: 100%;
    padding: 6px 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
  button {
    width: 100%;
    background-color: rgba(121, 87, 243, 0.788);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(121, 87, 243);
  }
  label {
    font: 1rem 'Fira Sans', sans-serif;
}
.table1{
    margin-bottom: 10px;
    width: 100%;
}