body{
    margin: auto;
}
#background-board {
    background-color: rgba(39, 158, 2, 0.87);
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width:96%;
    height:88%;
}
#board{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width:96%;
    height:88%;
    z-index: 10;
    position:absolute;
    top: 0;
    background: transparent;
}
#app {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(100, 66, 46);
}

#start{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 1000;

    background-color: rgba(66, 66, 66, 0.705);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#StartApp 
{
    width:30%;
    height: 70px;
    font-size: 30px;
    border-radius: 50px; 
}
h2{
    color: white;

}
#footer{
    width:95%;
    height:10%;
    margin: auto;
}

#timer{ 
    float: left;
    font-size: 5vh;
    width:25%;
    height:100%;
    z-index: 100;
    line-height:100%;
    text-align: center;
    background-color:rgba(185, 185, 185, 0.74);
    border-right: 1px solid black;
}
#Point{
    float: left;
    font-size: 5vh;
    width:25%;
    height:100%;
    z-index: 100;
    line-height:100%;
    text-align: center;
    background-color:rgba(185, 185, 185, 0.74);
    border-right: 1px solid black;
}
#bestTime{
    float: left;
    font-size: 5vh;
    width:25%;
    height:100%;
    z-index: 100;
    line-height:100%;
    text-align: center;
    background-color:rgba(185, 185, 185, 0.74);
}
#resetGame{
    float: left;
    font-size: 5vh;
    text-align: center;
    width:24%;
    height:100%;
    background-color:rgba(185, 185, 185, 0.74);
    border-right: 1px solid black;
}
#resetGame:hover{
    background-color:rgba(185, 185, 185, 0.945);
}
#timer p{
    display:inline;
}
button:focus {outline:0;}
button{
    border: 0px;
    padding: 0px;
}